/* GOOGLE FONT WORK SANS LINK START */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* GOOGLE FONT WORK SANS LINK END */


/* COMMON CSS START */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 1440px;
  margin: 0px auto;
}

/* COMMON CSS END */
/* NAVBAR PART START */

header{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0px;
}
.logo_container{
  display: flex;
  align-items: center;
  
}
.logo_container img{
  width: 100px;
  object-fit: cover;

}
.logo_container p{
  color: #0B0223;
  font-size: 45px;
  font-weight: 700;
  padding-left: 20px;

}
.logo_container .logo_text{
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.nav_item_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav_item_container li{
  padding-left: 2rem;
}
.nav_item_container a{
  color: #3C354F;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.follow_us_btn a{
  padding: 15px 25px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  
}
.youtube_color{
  color: #F61C0D;
  padding-left: 25px;
  padding-right: 15px;
}

/* NAVBAR PART END */
/* BANNER PART START */
.banner_section{
  background:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner_container{
  height: 43.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner_text{
  height: 100%;
  width: 50%;
  background-image: url('../images/Group 14.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner_text h3{
  padding-top: 9.25rem;
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  
}
.banner_text h1{
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1.5rem;

}
.banner_text p{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 1rem;
}
.banner_btn{
  padding-top: 1.875rem;
}
.banner_btn .sign_in_btn{
  padding: 20px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.banner_btn .go_rough_btn{
  padding: 20px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
/* .banner_btn a{
  padding: 20px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;

} */
.banner_btn .sign_in_btn{
  background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.banner_btn .sign_in_btn:hover{
  background: #4EC5F7;
 
}
.banner_btn .go_rough_btn{
  background: #4EC5F7;
  margin-left: 1.5rem;

}

.banner_btn .go_rough_btn:hover{
 background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.banner_image{
  width: 50%;
}
.banner_image img{
  width: 100%;
  
}
/* BANNER PART END */
/* WE ARE GAMER PART START */
.gamer_section{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.gamer_container{
  display: flex;
  align-items: center;
  
}
.gamer_text{
  text-align: right;
}
.gamer_text h3{
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer_text p{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 50px;
}
.know_more_btn{
  text-align: right;
}
.gamer_text a{
  padding: 20px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.gamer_text a:hover{
  background: #4EC5F7;
  
}
.gamer_bottom_text p{
  color: #534C64;
  font-size: 24px;
  font-weight: 500;
  margin-top: 1.5rem;
}
.gamer_bottom_text .special_text{
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}
/* WE ARE GAMER PART END */
/* BANNER PART END */


/* RESPONSIVE PART START */

/* FOR MOBILE DEVICE START */

@media screen and (max-width:575.99px){

  .navbar_container, .nav_item_container{
    flex-direction: column;
  }
  .nav_item_container{
    margin-top: 25px;
  }
  .nav_item_container li{
    padding-top: 2.18rem;
    padding-left: 0rem;
  }

 .follow_us_btn{
  margin-top: 25px;
  margin-bottom: 2.625rem;
 }
/* Banner */
.banner_container{
  height: auto;  
  flex-direction: column-reverse;
}


.banner_text{
  margin-top: 30px;
  width: auto;
  height: 50%; 
  padding: 0px 50px;
  padding-bottom: 10rem;
 
}
.banner_image {
  width: 70%;
  
}
.banner_image img{
  width: 100%;
  
  
}

.banner_text h3{
  font-size: 24px;
  padding-top: 8rem;
  
  /* padding-left: 4.25rem; */
}
.banner_text h1{
  font-size: 50px;
}
.banner_text p{
  font-size: 14px;
}
  
.banner_btn .sign_in_btn{
  padding: 10px 20px;
  font-size: 16px;

}
.banner_btn .go_rough_btn{
  padding: 10px 20px;
  font-size: 16px;

}
/* WE ARE GAMER PART */
.gamer_container{
  flex-direction: column;
}
.gamer_image{
  margin-top: 35px;
}
.gamer_image img{
  width: 100%;
}
.gamer_text{
  margin-top: 60px;
  text-align: center;
}
.gamer_text p{
  padding-left: 10px;
  padding-right: 10px;
}
.know_more_btn{
  margin-top: 1.5rem;
  text-align: center;
}
.gamer_text h3{
  font-size: 36px;
}
.gamer_text p{
  font-size: 16px;
}

.gamer_text a{
  padding: 10px 20px;
  font-size: 16px;
}

.gamer_bottom_text p{
  font-size: 18px;
}
.gamer_bottom_text .special_text{
  font-size: 24px;
}



}
/* FOR MOBILE DEVICE END */
/* FOR TABLET DEVICE START */
@media screen and (min-width:576px) and (max-width:767.99px){
  .navbar_container, .nav_item_container{
    flex-direction: column;
  }
  .nav_item_container{
    margin-top: 25px;
  }
  .nav_item_container li{
    padding-top: 2.18rem;
    padding-left: 0rem;
  }
 .follow_us_btn{
  margin-top: 25px;
 }
/* Banner part */
/* Banner */
.banner_container{
  height: auto;  
  flex-direction: column-reverse;
}


.banner_text{
  margin-top: 30px;
  width: auto;
  height: 50%; 
  padding: 0px 150px;
  padding-bottom: 10rem;
 
}
.banner_image {
  width: 70%;
  
}
.banner_image img{
  width: 100%;
  
  
}

.banner_text h3{
  font-size: 32px;
  padding-top: 8rem;
  
  /* padding-left: 4.25rem; */
}
.banner_text h1{
  font-size: 60px;
}
.banner_text p{
  font-size: 18px;
}
  
.banner_btn .sign_in_btn{
  padding: 15px 25px;
  font-size: 16px;

}
.banner_btn .go_rough_btn{
  padding: 15px 25px;
  font-size: 16px;

}
/* WE ARE GAMER PART */
.gamer_container{
  flex-direction: column;
}
.gamer_image{
  margin-top: 35px;
}
.gamer_image img{
  width: 100%;
}
.gamer_text{
  margin-top: 60px;
  text-align: center;
}
.gamer_text p{
  padding-left: 20px;
  padding-right: 20px;
}
.know_more_btn{
  margin-top: 1.5rem;
  text-align: center;
}

}
/* FOR TABLET DEVICE END */

/* RESPONSIVE PART END */